

.chats {
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}


.chats::-webkit-scrollbar {
    width: 10px;
}


.chats::-webkit-scrollbar-track {
    background: #1d1d1d;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    border: 2px solid #1d1d1d;
}


.chats::-webkit-scrollbar-thumb:hover {
    background: #888;
}



.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs
{
    border-radius: 14px !important;
}
pre 
{
    white-space:pre-wrap;
}